<a href="https://colab.research.google.com/github/LucaAPiattelli/UNI/blob/main/PY_01_UNI_Introduccion_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>

![Captura de Pantalla 2021-08-16 a la(s) 23.25.35.png]()

</center>

<center>
<font color="#091f60">
<h1><b>
Dirección de Estudios de Posgrado y Educación Continua
<h2><b>
Analítica Avanzada con Power BI, R y Python

</font>
</center>

[UNI-DEPEC](https://posgrado.uni.edu.ni)

<font color="#091f60">
<h1><b>
Introducción a Python

</font>

Python es un lenguaje de programación fácil de aprender. Cuenta con un enfoque simple pero efectivo de lo que se conoce como la programación orientada a objetos.

#Introducción a Python

## Números y operaciones matemáticas básicas

### Datos numéricos

#### Enteros y decimales

Python distingue entre números enteros y decimales. Al escribir un número decimal, el separador entre la parte entera y la parte decimal es un punto.

In [ ]:
780.6 # numero con decimal

780.6

In [ ]:
1050 # número entero

1050

### Usando Python como calculadora

Las cuatro operaciones básicas son la suma (+), la resta (-), la multiplicación (*) y la división (/).

*Al hacer operaciones en las que intervienen números enteros y decimales, el resultado es siempre decimal.*

En el caso de que el resultado no tenga parte decimal, Python escribe 0 como parte decimal para indicar que el resultado es un número decimal

In [ ]:
250 + 350

600

In [ ]:
100 - 20 * 4

20

In [ ]:
(100 - 20 * 4) / 5

4.0

En la división el tipo de dato es float (4.0) que es decimal, si se quiere un valor numerico entero (int) entonces usamos dos veces el simbolo //

In [ ]:
(100 - 20 * 4) // 5

4

#### Potencias y raíces

Las potencias se calculan con el operador $**$, teniendo en cuenta que $x$ $**$ $y$ $=$ $x^y$. Utilizando exponentes negativos o decimales se pueden calcular potencias inversas o raíces n-ésimas.

Si se quiere calcular un valor al cuadrado, por ejemplo $5^2$, entonces...

In [ ]:
5 ** 2

25

O si se quiere calcular la raiz de un número, por ejemplo $\sqrt{9}$
entonces...

In [ ]:
9 ** 0.5

3.0

## Algunas funciones integradas

Aunque no se puede dar una regla válida en todas las situaciones, normalmente es conveniente redondear el resultado de un cálculo cuando se muestra, sobre todo si tiene muchos decimales, para facilitar su lectura.

Lo que no se debe hacer nunca es redondear resultados intermedios que se vayan a utilizar en cálculos posteriores, porque el resultado final será diferente.

### Redondear: round( )

La función integrada round( ) admite uno o dos argumentos numéricos. Cuando tiene dos argumentos numéricos, el segundo argumento indica la posición para evaluar el redondeo.

In [ ]:
round(65.35)

65

In [ ]:
round(65.78)

66

In [ ]:
round(78.18467, 3)

78.185

In [ ]:
round(78.18467, 2)

78.18

### Valor absoluto: abs( )

In [ ]:
abs(-1500)

1500

In [ ]:
abs(2197)

2197

### Máximo: max( )

La función integrada max( ) calcula el valor máximo de un conjunto de valores (numéricos o alfabéticos). En el caso de cadenas, el valor máximo corresponde al último valor en orden alfabético, sin importar la longitud de la cadena.

In [ ]:
max([4, 6, -1, 9, 3.5, -12])

9

In [ ]:
max("Darío", "Agostina", "Marcelo", "Emiliana", "Veronica")

'Veronica'

Las vocales acentuadas se consideran posteriores al resto de vocales y consonantes.

In [ ]:
max("Darío", "Agostina", "Marcelo", "Emiliana", "Ángel")

'Ángel'

### Mínimo: min( )

La función integrada min( ) calcula el valor mínimo de un conjunto de valores (numéricos o alfabéticos). En el caso de cadenas, el valor mínimo corresponde al primer valor en orden alfabético, sin importar la longitud de la cadena.

In [ ]:
min(4, 6, -1, 9, 3.5, -12)

-12

In [ ]:
min("Darío", "Agostina", "Marcelo", "Emiliana", "Ángel")

'Agostina'

# Creación y asignación de variables

El concepto de "variable" proviene de las Matemáticas. En Matemáticas, una variable es un símbolo que forma parte de una expresión o de una fórmula.

Normalmente las variables se representan mediante letras del alfabeto latino ( $x, y, z, n, i, j,$ etc.). Dependiendo del contexto, las variables significan cosas distintas.

En Python las variables son "etiquetas" que permiten hacer referencia a los datos (que se guardan en unas "cajas" llamadas objetos).

Python es un lenguaje de programación orientado a objetos y su modelo de datos también está basado en objetos. Para cada dato que aparece en un script, Python crea un objeto que lo contiene. 

**Cada objeto tiene:**

- Un identificador único (un número entero, distinto para cada objeto). El identificador permite a Python referirse al objeto sin ambigüedades.
- Un tipo de datos (entero, decimal, cadena de caracteres, etc.). El tipo de datos permite saber a Python qué operaciones pueden hacerse con el dato.
- Un valor (el propio dato).

Así, las variables en Python no guardan los datos, sino que son simples nombres para poder hacer referencia a esos objetos.

**Los nombres de variables no pueden incluir espacios en blanco.**

## Variables numericas

In [ ]:
num1 = 10
num2 = 175.5
num1 + num2

185.5

In [ ]:
num1 * num2

1755.0

In [ ]:
num2 / num1

17.55

In [ ]:
num2 - num1

165.5

In [ ]:
num3 = num1 + num2
num3

185.5

# Tipos de datos

## Tuplas

En Python, una tupla es un conjunto ordenado de elementos del mismo o diferente tipo. Las tuplas se representan escribiendo los elementos entre paréntesis y separados por comas.

In [ ]:
(1, "a", 3.14)

(1, 'a', 3.14)

En realidad no es necesario escribir los paréntesis para indicar que se trata de una tupla, basta con escribir las comas, pero Python escribe siempre los paréntesis:

In [ ]:
5, "b", 6.28

(5, 'b', 6.28)

La función len( ) devuelve el número de elementos de una tupla:

In [ ]:
len((1, "a", 3.14, 7, "b", 90.87))

6

In [ ]:
a = (1, "b", "c", 3.14, 6.28, "d", "e")
len(a)

7

## Listas

Las listas son conjuntos ordenados de elementos (números, cadenas, listas, etc). 
Las listas se delimitan por corchetes [ ] y los elementos se separan por comas.

### Listas numericas

In [ ]:
pares = [2, 4, 6, 8, 10]
pares

[2, 4, 6, 8, 10]

In [ ]:
impares = [1, 3, 5, 7, 9]
impares

[1, 3, 5, 7, 9]

El primer par y el último par

In [ ]:
pares[0]

2

In [ ]:
pares[-1]

10

Concatenando con 5 elementos mas

In [ ]:
pares + [12, 14, 16, 18, 20]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
pares

[2, 4, 6, 8, 10]

In [ ]:
pares = pares + [12, 14, 16, 18, 21]

In [ ]:
pares

[2, 4, 6, 8, 10, 12, 14, 16, 18, 21]

## Diccionarios

In [ ]:
diccionario1 = {"Modulo": "Modulo 1", "Tema": "Introducción y Fundamentos"}
print(diccionario1)

{'Modulo': 'Modulo 1', 'Tema': 'Introducción y Fundamentos'}

Para acceder a un valor específico, debe proporcionar el nombre de clave correspondiente. 

Por ejemplo, si se desea obtener el valor Introduccion a Python, entonces:

In [ ]:
diccionario1["Tema"]

'Introducción y Fundamentos'

Cada par clave del valor de un diccionario debe ser único.

Python proporciona un método para acceder a todos los nombres de las claves de un diccionario. 

El metodo .keys(), que se utiliza como se muestra a continuación:

In [ ]:
diccionario1.keys()

dict_keys(['Modulo', 'Tema'])

Se puede agregar un nuevo elemento en un diccionario proporcionando el nombre de clave como este:

In [ ]:
diccionario1["Profesores"] = "Piattelli - Ortega"
print(diccionario1)

{'Modulo': 'Modulo 1', 'Tema': 'Introducción y Fundamentos', 'Profesores': 'Piattelli - Ortega'}

Se puede eliminar un elemento de un diccionario con el comando del:

In [ ]:
del diccionario1["Profesores"]
print(diccionario1)

{'Modulo': 'Modulo 1', 'Tema': 'Introducción y Fundamentos'}

## Rangos

La función range( ) es una lista inmutable de números enteros en sucesión aritmética.

- Inmutable significa que, a diferencia de las listas, los range no se pueden modificar.
- Una sucesión artimética es una sucesión en la que la diferencia entre dos términos consecutivos es siempre la misma.

range() se crea llamando al tipo de datos con uno, dos o tres argumentos numéricos.

***Nota: En Python 2, range( ) se consideraba una función, pero en Python 3 no se considera una función, sino un tipo de datos, aunque se utiliza como si fuera una función.***

Creando un rango con 15 elementos...

In [ ]:
x = range(15)
x

range(0, 15)

Visualizando los elementos del rango creado en el objeto $x$...

In [ ]:
list(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

El tipo range con dos argumentos se escribe range($m$, $n$) y crea una lista inmutable de enteros consecutivos que empieza en $m$ y acaba en $n - 1$.

In [ ]:
y = range(5, 11)
y

range(5, 11)

In [ ]:
list(y)

[5, 6, 7, 8, 9, 10]

Range() con tres argumentos se escribe range($m$, $n$, $p$) y crea una lista inmutable de enteros que empieza en $m$ y acaba justo antes de superar o igualar a $n$, aumentando los valores de $p$ en $p$. 

Si $p$ es negativo, los valores van disminuyendo de $p$ en $p$.

In [ ]:
list(range(10,20,2))

[10, 12, 14, 16, 18]

In [ ]:
list(range(20,10,-2))

[20, 18, 16, 14, 12]

En resumen, los tres argumentos del tipo range($m$, $n$, $p$) son:

- $m$: el valor inicial
- $n$: el valor final (que no se alcanza nunca)
- $p$: el paso (la cantidad que se avanza cada vez).

Si se escriben sólo dos argumentos, Python le asigna a $p$ el valor 1. Es decir range($m$, $n$) es lo mismo que range($m$, $n$, 1)

Si se escribe sólo un argumento, Python, le asigna a $m$ el valor 0 y a $p$ el valor 1. Es decir range($n$) es lo mismo que range(0, $n$, 1)

![UNI](https://posgrado.uni.edu.ni/wp-content/uploads/2017/02/logo_opt-2.png)