<a href="https://colab.research.google.com/github/LucaAPiattelli/UNI/blob/main/PY_02_UNI_Introduccion_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>

![Captura de Pantalla 2021-08-16 a la(s) 23.25.35.png]()

</center>

<center>
<font color="#091f60">
<h1><b>
Dirección de Estudios de Posgrado y Educación Continua
<h2><b>
Analítica Avanzada con Power BI, R y Python

</font>
</center>

[UNI-DEPEC](https://posgrado.uni.edu.ni)

<font color="#091f60">
<h1><b>
Introducción a Pandas

</font>

![texto del vínculo](https://www.pythoncentral.io/wp-content/uploads/2021/07/c6h7rok9c2v31.jpg)

## Cargar módulos necesarios

In [ ]:
import numpy as np
import pandas as pd

## Lectura de datos desde un archivo - Creación de una Serie y un DataFrame

[Se pueden leer múltiples formatos de archivos](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)

Los parámetros que se pueden utilizar en esta función son:
* sep = tipo de separador, por ejemplo ","
* header = número de fila que contiene el encabezado
* names = lista con el nombre de columnas
* dtype = tipo de datos de las columnas 

[Otros parámetros](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

In [ ]:
archivo = "https://raw.githubusercontent.com/LucaAPiattelli/UNI/main/Datasets/Regresion/saratogahouses.csv"

In [ ]:
df = pd.read_csv(archivo)

In [ ]:
df.head()

   Unnamed: 0   price  lotSize  ...  waterfront  newConstruction  centralAir
0           0  132500     0.09  ...          No               No          No
1           1  181115     0.92  ...          No               No          No
2           2  109000     0.19  ...          No               No          No
3           3  155000     0.41  ...          No               No          No
4           4   86060     0.11  ...          No              Yes         Yes

[5 rows x 17 columns]

In [ ]:
s = df.price

In [ ]:
s

0       132500
1       181115
2       109000
3       155000
4        86060
         ...
1723    289000
1724    285000
1725    194900
1726    125000
1727    111300
Name: price, Length: 1728, dtype: int64

# Dataframe

## Atributos del DataFrame (Propiedades)

[Lista completa de Atributos y funciones](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.DataFrame.html)

Los principales tipos de datos que podemos encontrar son:

* int64: número entero
* float64: número decimal
* object: texto
* bool: booleano (verdadero/falso)
* datetime64: fecha-tiempo

In [ ]:
df.dtypes

price                int64
lotSize            float64
age                  int64
landValue            int64
livingArea           int64
pctCollege           int64
bedrooms             int64
fireplaces           int64
bathrooms          float64
rooms                int64
heating             object
fuel                object
sewer               object
waterfront          object
newConstruction     object
centralAir          object
dtype: object

### Index y columnas del DataFrame

In [ ]:
df.index

RangeIndex(start=0, stop=1728, step=1)

In [ ]:
df.columns

Index(['price', 'lotSize', 'age', 'landValue', 'livingArea', 'pctCollege',
       'bedrooms', 'fireplaces', 'bathrooms', 'rooms', 'heating', 'fuel',
       'sewer', 'waterfront', 'newConstruction', 'centralAir'],
      dtype='object')

### Valor de la cantidad de filas y columnas

In [ ]:
df.shape

(1728, 16)

### Tamaño del DataFrame

In [ ]:
df.size

27648

## Funciones

### Visualización del DataFrame

Para visualizar todo el DataFrame

In [ ]:
df

       price  lotSize  age  ...  waterfront  newConstruction  centralAir
0     132500     0.09   42  ...          No               No          No
1     181115     0.92    0  ...          No               No          No
2     109000     0.19  133  ...          No               No          No
3     155000     0.41   13  ...          No               No          No
4      86060     0.11    0  ...          No              Yes         Yes
...      ...      ...  ...  ...         ...              ...         ...
1723  289000     0.38   32  ...          No               No          No
1724  285000     0.94   37  ...          No               No          No
1725  194900     0.39    9  ...          No               No          No
1726  125000     0.24   48  ...          No               No          No
1727  111300     0.59   86  ...          No               No          No

[1728 rows x 16 columns]

Para visualizar las primeras cinco filas

In [ ]:
df.head()

    price  lotSize  age  ...  waterfront  newConstruction  centralAir
0  132500     0.09   42  ...          No               No          No
1  181115     0.92    0  ...          No               No          No
2  109000     0.19  133  ...          No               No          No
3  155000     0.41   13  ...          No               No          No
4   86060     0.11    0  ...          No              Yes         Yes

[5 rows x 16 columns]

Para visualizar las últimas cinco filas

In [ ]:
df.tail()

       price  lotSize  age  ...  waterfront  newConstruction  centralAir
1723  289000     0.38   32  ...          No               No          No
1724  285000     0.94   37  ...          No               No          No
1725  194900     0.39    9  ...          No               No          No
1726  125000     0.24   48  ...          No               No          No
1727  111300     0.59   86  ...          No               No          No

[5 rows x 16 columns]

### Información del DataFrame

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   price            1728 non-null   int64
 1   lotSize          1728 non-null   float64
 2   age              1728 non-null   int64
 3   landValue        1728 non-null   int64
 4   livingArea       1728 non-null   int64
 5   pctCollege       1728 non-null   int64
 6   bedrooms         1728 non-null   int64
 7   fireplaces       1728 non-null   int64
 8   bathrooms        1728 non-null   float64
 9   rooms            1728 non-null   int64
 10  heating          1728 non-null   object
 11  fuel             1728 non-null   object
 12  sewer            1728 non-null   object
 13  waterfront       1728 non-null   object
 14  newConstruction  1728 non-null   object
 15  centralAir       1728 non-null   object
dtypes: float64(2), int64(8), object(6)
memory usage: 216.1+ KB

### Valor mínimo y máximo del DataFrame

In [ ]:
df.min()

price                  5000
lotSize                   0
age                       0
landValue               200
livingArea              616
pctCollege               20
bedrooms                  1
fireplaces                0
bathrooms                 0
rooms                     2
heating            electric
fuel               electric
sewer                  none
waterfront               No
newConstruction          No
centralAir               No
dtype: object

In [ ]:
df.max()

price                       775000
lotSize                       12.2
age                            225
landValue                   412600
livingArea                    5228
pctCollege                      82
bedrooms                         7
fireplaces                       4
bathrooms                      4.5
rooms                           12
heating            hot water/steam
fuel                           oil
sewer                       septic
waterfront                     Yes
newConstruction                Yes
centralAir                     Yes
dtype: object

## Estadísticas

### Resumen

In [ ]:
df.describe()

               price      lotSize  ...    bathrooms        rooms
count    1728.000000  1728.000000  ...  1728.000000  1728.000000
mean   211966.705440     0.500214  ...     1.900174     7.041667
std     98441.391015     0.698680  ...     0.658352     2.316453
min      5000.000000     0.000000  ...     0.000000     2.000000
25%    145000.000000     0.170000  ...     1.500000     5.000000
50%    189900.000000     0.370000  ...     2.000000     7.000000
75%    259000.000000     0.540000  ...     2.500000     8.250000
max    775000.000000    12.200000  ...     4.500000    12.000000

[8 rows x 10 columns]

### Valores únicos

In [ ]:
df.nunique()

price              751
lotSize            170
age                136
landValue          573
livingArea         877
pctCollege          32
bedrooms             7
fireplaces           5
bathrooms            9
rooms               11
heating              3
fuel                 3
sewer                3
waterfront           2
newConstruction      2
centralAir           2
dtype: int64

### Media

In [ ]:
df.mean()

price         211966.705440
lotSize            0.500214
age               27.916088
landValue      34557.187500
livingArea      1754.975694
pctCollege        55.567708
bedrooms           3.154514
fireplaces         0.601852
bathrooms          1.900174
rooms              7.041667
dtype: float64

## Transformaciones

### Filtrar

Filtrar columnas

In [ ]:
df[["age", "price"]]

      age   price
0      42  132500
1       0  181115
2     133  109000
3      13  155000
4       0   86060
...   ...     ...
1723   32  289000
1724   37  285000
1725    9  194900
1726   48  125000
1727   86  111300

[1728 rows x 2 columns]

Filtrar filas

In [ ]:
df[df["age"] > 35]

       price  lotSize  age  ...  waterfront  newConstruction  centralAir
0     132500     0.09   42  ...          No               No          No
2     109000     0.19  133  ...          No               No          No
8      90000     0.83   36  ...          No               No          No
10    325000     2.29  123  ...          No               No          No
13     97000     0.11  153  ...          No               No          No
...      ...      ...  ...  ...         ...              ...         ...
1721  319900     0.58   42  ...          No               No          No
1722  249000     0.43   41  ...          No               No          No
1724  285000     0.94   37  ...          No               No          No
1726  125000     0.24   48  ...          No               No          No
1727  111300     0.59   86  ...          No               No          No

[368 rows x 16 columns]

In [ ]:
df[df["fuel"] == "electric"]

       price  lotSize  age  ...  waterfront  newConstruction  centralAir
0     132500     0.09   42  ...          No               No          No
8      90000     0.83   36  ...          No               No          No
12     85860     8.97   13  ...          No               No          No
20    112000     1.00   12  ...          No               No          No
21    104900     0.43   21  ...          No               No          No
...      ...      ...  ...  ...         ...              ...         ...
1692  212000     0.34   21  ...          No               No          No
1693  195000     0.46   28  ...          No               No          No
1694  171600     0.32   15  ...          No               No          No
1712  169700     0.07   22  ...          No               No          No
1715   70000     1.34   34  ...          No               No          No

[315 rows x 16 columns]

### Agrupar

In [ ]:
df.groupby(["age"]).mean()

             price   lotSize     landValue  ...  fireplaces  bathrooms      rooms
age                                         ...
0    267726.963855  0.480964  52733.734940  ...    0.722892   2.493976   8.722892
1    303371.120000  0.523200  74721.333333  ...    0.706667   2.606667   8.840000
2    331917.647059  0.544706  52352.941176  ...    0.588235   2.441176   8.941176
3    335422.413793  0.558276  50637.931034  ...    0.724138   2.310345   7.862069
4    298619.047619  0.470952  56728.571429  ...    0.666667   2.452381   7.380952
..             ...       ...           ...  ...         ...        ...        ...
174  154000.000000  0.100000  32800.000000  ...    1.000000   1.000000   9.000000
176  422680.000000  0.160000  46200.000000  ...    1.000000   4.000000  12.000000
178  135000.000000  3.000000  44500.000000  ...    0.000000   2.500000  12.000000
201  227000.000000  1.800000  25500.000000  ...    0.000000   2.500000   5.000000
225   82800.000000  0.110000   3900.000000  ...    0.000000   1.000000   7.000000

[136 rows x 9 columns]

In [ ]:
df.groupby(["age","fuel"]).mean()

                      price   lotSize  ...  bathrooms      rooms
age fuel                               ...
0   electric  366703.000000  0.150000  ...   2.500000   6.000000
    gas       265810.308642  0.446049  ...   2.493827   8.765432
    oil       324000.000000  3.640000  ...   2.500000   8.000000
1   gas       307622.694444  0.495139  ...   2.625000   8.944444
    oil       201333.333333  1.196667  ...   2.166667   6.333333
...                     ...       ...  ...        ...        ...
174 oil       154000.000000  0.100000  ...   1.000000   9.000000
176 gas       422680.000000  0.160000  ...   4.000000  12.000000
178 oil       135000.000000  3.000000  ...   2.500000  12.000000
201 oil       227000.000000  1.800000  ...   2.500000   5.000000
225 gas        82800.000000  0.110000  ...   1.000000   7.000000

[245 rows x 9 columns]

### Cambiar tipo de datos

In [ ]:
df.to

## Ejemplo Power BI

In [ ]:
df = pd.read_csv(archivo)

In [ ]:
df = df[["age", "price", "rooms","livingArea"]]

In [ ]:
df = df[df["age"] > 35]

In [ ]:
df.head()

    age   price  rooms  livingArea
0    42  132500      5         906
2   133  109000      8        1944
8    36   90000      8        1632
10  123  325000     12        2894
13  153   97000      5        1383

![UNI](https://posgrado.uni.edu.ni/wp-content/uploads/2017/02/logo_opt-2.png)