<a href="https://colab.research.google.com/github/LucaAPiattelli/UNI/blob/main/R_02_UNI_preparacion_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>

![Captura de Pantalla 2021-08-16 a la(s) 23.25.35.png]()

</center>

<center>
<font color="#091f60">
<h1><b>
Dirección de Estudios de Posgrado y Educación Continua
<h2><b>
Analítica Avanzada con Power BI, R y Python
</font>
</center>

[UNI-DEPEC](https://posgrado.uni.edu.ni)

<font color="#091f60">
<h1><b>
Preparación de datos

</font>

# Tidyverse

![texto del vínculo](https://elixir-luxembourg.org/assets/events_photos/2021_05_06_R_Tidyverse.png)

Tidyverse es una librería que nos permite hacer gran parte de las tareas previas a la aplicación de un modelo de machine learning, como, conectarnos a los datos, limpiarlos, gráficarlos, transformarlos, entre otras tareas

In [ ]:
library(tidyverse)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.3     ✔ dplyr   1.0.7
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   2.0.1     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

## Funciones propias de R

### Tipos de datos en R

Los principales tipos de datos son:

* character: cadena de caracteres de texto
* numeric: números decimales
* integer: número entero
* logical: valores booleanos
* factor: datos categóricos (finitos)

In [ ]:
a <- "Quiero aprender más!"
a
class(a)

[1] "Quiero aprender más!"

[1] "character"

In [ ]:
a <- 23
a
class(a)

[1] 23

[1] "numeric"

In [ ]:
a <- 23.23
a
class(a)

[1] 23.23

[1] "numeric"

In [ ]:
a <- as.integer(23.23)
a
class(a)

[1] 23

[1] "integer"

In [ ]:
a <- TRUE
a
class(a)

[1] TRUE

[1] "logical"

In [ ]:
a <- factor(c("good", "bad", "ugly","good", "bad", "ugly"))
print(a)
class(a)

[1] good bad  ugly good bad  ugly
Levels: bad good ugly

[1] "factor"

### Funciones as.

La función as fuerza a un objeto a pertenecer a una clase

* as.numeric(objeto)
* as.integer()
* as.character()
* as.logical()
* as.factor()

In [ ]:
a <- 23.3

In [ ]:
class(a)

[1] "numeric"

In [ ]:
a <- as.character(a)

In [ ]:
class(a)

[1] "character"

### Funciones is.

Nos dice si un objeto pertenece o no a una clase

* is.numeric(objeto)
* is.integer()
* is.character()
* is.logical()
* is.factor()
* is.na()

In [ ]:
a <- 23

In [ ]:
is.character(a)

[1] FALSE

In [ ]:
is.numeric(a)

[1] TRUE

In [ ]:
is.integer(a)

[1] FALSE

## readr

### Importar datos

[Se pueden leer múltiples formatos de archivos](https://readr.tidyverse.org/reference/index.html)

Los parámetros que se pueden utilizar en esta función son:
* delim = tipo de separador, por ejemplo ","
* skip = Cantidad de filas superiores a omitir
* col_select = lista con las columnas que queremos
* col_types = tipo de datos de las columnas 

[Otros parámetros](https://readr.tidyverse.org/reference/read_delim.html)

In [ ]:
archivo = "https://raw.githubusercontent.com/LucaAPiattelli/UNI/main/Datasets/Regresion/saratogahouses.csv"

In [ ]:
data <- read_csv(archivo)

Rows: 1728 Columns: 16

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (7): lotSize, heating, fuel, sewer, waterfront, newConstruction, centralAir
dbl (9): price, age, landValue, livingArea, pctCollege, bedrooms, fireplaces...


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [ ]:
head(data)

  price  lotSize age landValue livingArea pctCollege bedrooms fireplaces
1 132500 0.09     42 50000      906       35         2        1
2 181115 0.92      0 22300     1953       51         3        0
3 109000 0.19    133  7300     1944       51         4        1
4 155000 0.41     13 18700     1944       51         3        1
5  86060 0.11      0 15000      840       51         2        0
6 120000 0.68     31 14000     1152       22         4        1
  bathrooms rooms heating         fuel     sewer             waterfront
1 1.0       5     electric        electric septic            No
2 2.5       6     hot water/steam gas      septic            No
3 1.0       8     hot water/steam gas      public/commercial No
4 1.5       5     hot air         gas      septic            No
5 1.0       3     hot air         gas      public/commercial No
6 1.0       8     hot air         gas      septic            No
  newConstruction centralAir
1 No              No
2 No              No
3 No              No
4 No              No
5 Yes             Yes
6 No              No

In [ ]:
a = data$price

In [ ]:
a

   [1] 132500 181115 109000 155000  86060 120000 153000 170000  90000 122900
  [11] 325000 120000  85860  97000 127000  89900 155000 253750  60000  87500
  [21] 112000 104900 148635 150000  90400 248800 135000 145000 457000 140000
  [31] 130000 187000 229000 227000 179900 169900 209900 169900 293000 245900
  [41] 157000 195000 150000 234900 279550 246500 124000 138000 290000 108000
  [51] 134900  64500 142000 125000  88000 135000  90000  90100 126900 175000
  [61] 158000  92000  82800 140000 171000 200640 139000 225000 182000 208767
  [71] 186000  93000 257386 161000  92000 211002 115000 113000 216300 145000
  [81] 114000 139050 104000 169900 177900 133000 185000 115000 100000 117000
  [91] 150000 187500 107000 126900 147000  62000 101000 143500 113400  76320
 [101] 110000  88000 108000 114900 146000 225000 138000 218070  25000 112000
 [111] 112500  97000 121000  65720 225000 192000 158500 247000 193777 136500
 [121]  75000  45000 243000  90000 158000 174000 150000 159650 139062  84950
 [131] 102000 175000  78500 232478  93805 119900 146000 125000 135000 157500
 [141] 135000 142900 259900  85000 180377 163500 106500 115000 115000 135000
 [151] 198900 139000 206000 120000 205980 275000 139000  89900 139900 172750
 [161] 136000 270000 174000 379000 382500 144900 349900 133000 115000 211950
 [171] 227812 164400 340000 139900 279900 225000 144500 362710 247000 120000
 [181] 136000 228500 162800 230000 115800 175000 263008 146000 204900 265000
 [191] 167500 205000 170000 176000 132000 115500 150000 120000 125000 150000
 [201] 362360 133500  91000 104000 148000 182000 152500  97000 113000 172000
 [211] 179900  84000 117900 177000 107500  92500 102900 134800 150000 165000
 [221] 120000 177500 300000 123500 141000 105400 100600 108900 105500 109900
 [231] 172700 166500 105000 490000 120000 107500 116600  65000 118000 115900
 [241] 100000 171000 188000 140000 124500 107200 107500 180000 214325 128850
 [251] 208700 139900 350000 108000 115500 135000 135000 107400 233000 105000
 [261] 335000 139000 209500 101000  77500 150500 167000 114000 160000  85000
 [271] 143000 126000 140000 140000 205000  79900 139000 190000 151500  97500
 [281] 194500 195160 152500 159500 185000 240000 187900 262000 212500 220000
 [291] 245000 120000 102500 136000 212500 205900 259900 191500 272500 191500
 [301] 158000 195000 187500 160000 137500 109900  85000 184350 134500 154900
 [311] 255000 238600 106000 625000 195000 168500  87000 215000 197500 215000
 [321] 118000 187900 275000 249900 270000 157900 120000 126400 220000 180000
 [331] 203600 249900 193000 215000 201000  65000 195000 215900  92000 155000
 [341] 123500 110400 198900 150000 104000 245000 180000 154300 170000 219000
 [351] 295000 181500 260000 239900 135500 191500 225000  98500 110500 290000
 [361] 184400 178500 415000 244900 150000 168000 159000 127000 175000 255250
 [371] 175000 235000 324000 173000 116900 105900 112000 235000 235000 130000
 [381] 235000 191900 284900 335000 140000 191000 153000 196000 248000 240000
 [391] 132000 199000 217000 167000 245000 358000 412500 208000 270000 100000
 [401] 130000 182500 139000 104000 221000 260000 182500 196000 132000 224900
 [411] 199900 165835 189000  89900 235000 166000 153100 162000 224000 222400
 [421] 199000 166000 149900 152000 162500 274900 100000 215000 124000 125000
 [431] 138000 225000 180000 189900 435000 120000 163000 131000 126500 122500
 [441] 425000 225000 209000 189100 285000 266600  80000 225000 159000 119900
 [451] 130900 194670  72000 144700 139500 319000 348000 189900  20000  60000
 [461] 179500 133300 153000 111900 187000 158500 153000 190000 242000 234500
 [471] 225000 165000 129900 315000 129900 257000 324000 520000 150414 290000
 [481] 112000 185000 295000 290000  79900 256000 245000 140000 272000 164000
 [491] 182500 219900 325000 352000 315000 154000 199000 202000 292000 116600
 [501] 155000 215000 373490 259142 293565 285558 273960 185000 190000 171000
 [511] 208000 168000 165000 138500 179900 180000 112000 152000 100000 154000
 [521] 133000 285000 138000 303000 250000 167500 190000 182500 107000 195000
 [531] 169000 156000 120000 170000 249835 188095 176450 322277 149000  95000
 [541] 198500 185000 168900 220000 129900 167000 330000 336000 512971 229000
 [551] 145000 103000 210000 559000 218000 262138 125000 130000 157500 193000
 [561] 275000 240000 200136 395000 366703 103150 310000 142900 359770 126000
 [571] 760000 282500 132000 325000 207000 155000 330000 101760 496000 185000
 [581] 125000 286000 269000 303374 371165 287600 131000 187000 169000 133500
 [591] 620000 549254 280000 135000 195388 337020 330850 248495 120000 240000
 [601] 235000 500075 240000 270000 225000 280000 225000 248220 275000 137000
 [611] 150000 649000 195000 373200 169450 144200 189900 166000 160000 327355
 [621] 247000 318000 341000 288650 157000 449000 142000 389000 476000 249230
 [631] 139900 301900 425000 121000 150000 138000 199900 145000 465000 158000
 [641] 375000 147783 339000 267000 290000 271295 278140 138000 367500 428500
 [651] 140000 140000 145000 280000 190400 267000 164900 280000 225000 148000
 [661] 165000 340455 133000 115540 240000 600000  71500 189900 325000 280000
 [671] 255000 300000 106000 139000 165000 169000 159400 300000 161000 230500
 [681] 220000 177900 350000 335000 597185 173000 518000 212000 149900 140958
 [691]  95000 161600 351400 155000 198500 276000 167000 227000 405100 395000
 [701] 360000 775000 285000 300000 214000 229000 330000 146000 381500 430000
 [711] 650000 194500 279000 183000 195000 470000 167000 309278 217500 200000
 [721] 199995 179000 329000 374900 165000 647000 315000 208000 405000 535000
 [731] 184020  95000  87550 131000 127000 104695 120000 278500  75500 121900
 [741] 208000 151000 138000 229000 130000  89900 145000  86000  95000 195000
 [751] 107325 131000 166900 127000 119000  92509 174000 180000 155000 146500
 [761] 162500 210000 165000 123000 150000 128900  88100 175000 120975 147543
 [771] 118000 199000  79900 279000  90000  91900 153000 170000 145200 296000
 [781] 150000  86000 118000 155000 222500 250000 365000 120000 193000  85568
 [791]  82000 225000 240000 234900 112000 261000 400000 310000 182000 187500
 [801] 405000 420000 359000 120000 171500 159900 186500 260000 115000 191000
 [811] 355465 339900  90000 245000 320900 159000 174900 293500 210000 182500
 [821] 219900 370000 286000 169900 161000 287000 315000 177000 332000 249000
 [831] 179000 150000 225000 182000 329900 165000 180000 321000 180000 178000
 [841] 279900 179000 183000 500000 170000 179000 184900 177500 112500 180000
 [851]  10300 137900 144000 131600 123500 123000 109000 173000 105000 122500
 [861] 191000 149000 205000 225000 210000 188900 192000 137500 200000 126000
 [871] 214500 152000 115000  88000 170000 137000 145000 202000 130000 265000
 [881] 185000 130000 190000 204000 125000 349900 142000 132500 220000 160000
 [891]  10300  95000 122055 149000 115000 140000 137900 144000 131600 123500
 [901] 123000 109000 173000 105000 122500 191000 149000 205000 225000 210000
 [911] 188900 192000 137500 200000 126000 214500 152000 115000  88000 170000
 [921] 137000 145000 202000 130000 265000 185000 130000 190000 204000 125000
 [931] 349900 142000 132500 220000 160000 156900 138000 166000 195000 295600
 [941] 460000 126000 220300 175000 255000 185000 234000 133500 151000 157500
 [951] 285000 217500 300000 161225 217000 250000 124000 248000 187000 195000
 [961] 239900 475000 246000 219900 193500 122000 118000 125000 101000 249000
 [971] 180000 292500 199500 205100 330000 179000 342000 145000  66000 269900
 [981] 154000 454900 249900 165000 329000  49387 445000  73000 125000 146500
 [991] 209000 196500 157000 125500 190000 250000 255000 129700  65000 107000
[1001] 255000 398000 176000 249900 244900 220000 241000 159900 177555  95000
[1011]   5000 264900 315000 155000 130000 238000 224000 211000 279000 242000
[1021] 199875 259900 200000 212000 230000 189000 313635 185000 239900 202000
[1031] 155000 120000  78000 311000 198000 158500 227000 265900 163000 165000
[1041] 151000 200000 299900 210000 220000 326900 204900 234000 236000 124000
[1051] 199100 245000 264000 105000 187000 127000 100000 251000 105000 431250
[1061] 149900 180000 123500 253000 330000 124500 424200 120000 205000 175000
[1071] 295000 156500 143000 215000 287000 122500 180000 143000 137000 271000
[1081] 129900 133000 179000 302000 168000 120000 119000 168000 124900 415000
[1091] 150000 310000 157000 205000 275000 320000 380000 119900 345000 145000
[1101] 123000 202500 182000 175000 132500 239000  86125 245000 229900 129000
[1111] 200000 144200 166000 178000 165000 218000 175000 145000 195000 288139
[1121] 187500 255000 145000 183000 318310 192500 195000 138000 230000 237500
[1131] 375000 105000 168000 221000 135000 129900 344100 112000 380000 125000
[1141] 145000 190000 135000  58500  80500 150410 170000 242551 176500 212000
[1151] 135000 215000 262000 155000 207000 185000  92200 111000  97000 200000
[1161] 230000 299900 183855 174900 335000 208000 380000 289900 188000 600000
[1171] 262000 220000 275000 215000 100000 158500 148900 218000 355840 168000
[1181] 171000 195000 201880 145000 206000  78000 320900 159000 180000 129900
[1191] 150000 171134 151000 100000 655000 243500 265000 400000 272800 255000
[1201] 220000 775000 233000 216977 245000 159000 725000 268300 159000 155000
[1211] 345000 165200 185000 225500 420000 220000 620000 260000 359900 375000
[1221] 302900 175000 260000 270000 485000 200000 367000 175000 203000 170000
[1231] 375000 159900 230000 375000 421000 218000 167850 252500 650000 380000
[1241] 214500 218500 174000 225000 309750 658300 203000 375000  62500 205000
[1251]  84500 280500 182000 571000 168000 354000 238000 182000 218500 227500
[1261] 375000 399900 360000 412500 268500 300300 382500 189000 295000 220000
[1271] 223000 399000 169480 347750 455000 249900 250000 265000 670000 195000
[1281] 360000 175000 166500 190100 180500 440000 170000 220000  70500  65000
[1291] 127500 155000 255500 136000 204000 200000 163000 149350 235000 260000
[1301] 210000 159900 209000 135000 200000 432600 195000 165000 198000 219000
[1311] 430000 120000 373735 183853 213500 155000 197000 392499 229900 289250
[1321] 189900 397200 389405 135000 174000 525000 135000 412000 186000 453935
[1331] 355000 186000 197000 180000 178000 305000 262000 225000 403040 388500
[1341] 417000 410000 170000 295000 216000 221649 199900 463000 146500 225000
[1351] 160000 275055 315513 323759 167500 272699 177500 128000 317105 144500
[1361] 260000 244000 287989 159000 167000 348000 140000 145000 150450 230000
[1371] 147423 223000 167500 299000 235900 147000 305000 154000 149000 300279
[1381] 278000 202000 328463 185000 128000 335000 148900 229900 215000 253000
[1391] 304065 222000 165000 275000 325000 406000 230000 125000 148000 279000
[1401] 250000 314940 165900 150000 133000 155000 220000 229000 177000 120000
[1411] 195000 315371 137000 225700 204900 189500 374000 319000 294100 440760
[1421] 128000 239505 141700 215500 320210 273495 256350 255000 124000 293000
[1431] 147000 284595 342269 229000 216900 164900 149000 150000 214990 173000
[1441] 149900 155000 170000 237500 297065 342202 345264 325046 367000 159900
[1451] 145000 272500 163255 319000 160600 246000 153000 295000 159000 148400
[1461] 311000 314000 250000 149000 307890 223000 219000 178000 295925 141160
[1471] 229900 254900 126000 176500 161800 112200 154500 300000 206000 257000
[1481] 182000 161000 176000 177160 355063 213000 266500 285000 178900 300000
[1491] 211000 451000 201400 195900 190000 150000 206000 285000 120000 377500
[1501] 340000 240000 295000 215000 275000 189000 156000 410000 264500 145500
[1511] 116500 264500 215000 263000 243000 203000 335000 385000 210000 154000
[1521] 155000 165000 300000 240000 182000 194000 410000 280000 235000 185000
[1531] 167000 206500 165000 230000 235000 200500 310000 169900 210500 305000
[1541] 508000 220000 256000 196900 233000 140000 162900 178000 265000 454900
[1551] 215000 248000 395000 171500 268000 166500 355000 165000 300000 350000
[1561] 279900 265000 267000 235000 299900 167000 168000 150000 255000 455000
[1571] 351100 315000 220000 159000 341000 276000 309000 217021 188500 320000
[1581] 247000 166000 236000 233900 162740 225000 360000 281520 365000 315000
[1591] 297900 270000 260000  72000 229500 275000 155000 225570 224000 290000
[1601] 262000 319900 265000 255000 217300 291000 319000 271500 224900 260000
[1611] 199900 252659 312500 290000 155000 355000 190000 130000 264000 193980
[1621] 219900 469900 314230 138900 160000 228000 224400 132870 135600 150600
[1631] 335000 316250 181280 158000 221000 230000 299000 148000 267500 259000
[1641] 321000 409790 184000 145000 310000 170000 210500 199900 150000 153000
[1651] 334000 216900 259000 240000 186030 203000 255000 119000 260800 169000
[1661] 225000 124000 245000 250000 172000 153500 165000 159000 171500 240000
[1671] 409550 302000 285000 385900 140595 213000 335000 290000 265000 334000
[1681] 382406 149300 212000 195000 245000 422680 240000 156000 265000 334000
[1691] 382406 149300 212000 195000 171600 245000 282000 260000 254500 179900
[1701] 255000 265000 174000 322000 337000 221450 247000 180000 229900 230000
[1711] 388000 350000 169700 190000 317500  70000 300000 145400 183500 275900
[1721] 436023 319900 249000 289000 285000 194900 125000 111300

### Exportar datos

In [ ]:
write_csv(data, file = "data.csv")

## tibble

Los tibble son la evolución de los DataFrames! Nos permite imprimir mejor los datos y los preformatea

[más funciones](https://tibble.tidyverse.org/reference/index.html)

Para crear un tibble

In [ ]:
tibble_data <- tibble(data)
head(tibble_data)

  price  lotSize age landValue livingArea pctCollege bedrooms fireplaces
1 132500 0.09     42 50000      906       35         2        1
2 181115 0.92      0 22300     1953       51         3        0
3 109000 0.19    133  7300     1944       51         4        1
4 155000 0.41     13 18700     1944       51         3        1
5  86060 0.11      0 15000      840       51         2        0
6 120000 0.68     31 14000     1152       22         4        1
  bathrooms rooms heating         fuel     sewer             waterfront
1 1.0       5     electric        electric septic            No
2 2.5       6     hot water/steam gas      septic            No
3 1.0       8     hot water/steam gas      public/commercial No
4 1.5       5     hot air         gas      septic            No
5 1.0       3     hot air         gas      public/commercial No
6 1.0       8     hot air         gas      septic            No
  newConstruction centralAir
1 No              No
2 No              No
3 No              No
4 No              No
5 Yes             Yes
6 No              No

In [ ]:
tibble_data <- add_column(tibble_data, x = 23)
head(tibble_data)

  price  lotSize age landValue livingArea pctCollege bedrooms fireplaces
1 132500 0.09     42 50000      906       35         2        1
2 181115 0.92      0 22300     1953       51         3        0
3 109000 0.19    133  7300     1944       51         4        1
4 155000 0.41     13 18700     1944       51         3        1
5  86060 0.11      0 15000      840       51         2        0
6 120000 0.68     31 14000     1152       22         4        1
  bathrooms rooms heating         fuel     sewer             waterfront
1 1.0       5     electric        electric septic            No
2 2.5       6     hot water/steam gas      septic            No
3 1.0       8     hot water/steam gas      public/commercial No
4 1.5       5     hot air         gas      septic            No
5 1.0       3     hot air         gas      public/commercial No
6 1.0       8     hot air         gas      septic            No
  newConstruction centralAir x
1 No              No         23
2 No              No         23
3 No              No         23
4 No              No         23
5 Yes             Yes        23
6 No              No         23

## dplyr

Es el módulo que nos va a permitir renombrar variables, reordenarlas, crear nuevas, resumirlas y otras tareas que nos van a permitir trabajar mejor con nuestros datos

Las principales funciones son:

* mutate() agrega nuevas variables que son funciones de las variables existentes
* select() nos permite filtrar variables en base a sus nombres
* filter() nos permite filtrar variables en base a valores
* summarize() nos permite crear resumenes, se usa en conjunto con group_by()
* arrange() cambia el orden de las filas

[Más funciones](https://dplyr.tidyverse.org/)

In [ ]:
install.packages("nycflights13")
library(nycflights13)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
flights <- nycflights13::flights
head(flights)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

In [ ]:
?nycflights13::flights

Warning message in seq_len(head.end.idx):
“first element used of 'length.out' argument”
ERROR while rich displaying an object: Error in seq_len(head.end.idx): argument must be coercible to non-negative integer

Traceback:
1. FUN(X[[i]], ...)
2. tryCatch(withCallingHandlers({
 .     if (!mime %in% names(repr::mime2repr))
 .         stop("No repr_* for mimetype ", mime, " in repr::mime2repr")
 .     rpr <- repr::mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler), error = outer_handler)
3. tryCatchList(expr, classes, parentenv, handlers)
4. tryCatchOne(expr, names, parentenv, handlers[[1L]])
5. doTryCatch(return(expr), name, parentenv, handler)
6. withCallingHandlers({
 .     if (!mime %in% names(repr::mime2repr))
 .         stop("No repr_* for mimetype ", mime, " in repr::mime2repr")
 .     rpr <- repr::mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler)
7. repr::mime2repr[[mime]](obj)
8. repr_html.help_files_with_topic(obj)
9. repr_help_files_with_topic_generic(obj, Rd2HTML)

### Filter

Nos permite elegir un subconjunto de observaciones en base a sus valores, se utilizan los comparadores lógicos: >, >=, <, <=, != (no igual), ==

In [ ]:
flights_subset <- filter(flights, month ==1, day > 15, origin == "EWR")
head(flights_subset)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     16    3      1946           257       212      2154
2 2013 1     16  456       500            -4       730       648
3 2013 1     16  555       600            -5       920       859
4 2013 1     16  558       600            -2       900       800
5 2013 1     16  558       600            -2       754       709
6 2013 1     16  617       615             2       928       842
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 258       EV      4536   N16987  EWR    CVG  111       569     19   46
2  42       US      1117   N543UW  EWR    CLT   96       529      5    0
3  21       B6       507   N516JB  EWR    FLL  153      1065      6    0
4  60       EV      4911   N712EV  EWR    DTW  107       488      6    0
5  45       B6       380   N198JB  EWR    BOS   77       200      6    0
6  46       DL       575   N346NB  EWR    ATL  127       746      6   15
  time_hour
1 2013-01-16 19:00:00
2 2013-01-16 05:00:00
3 2013-01-16 06:00:00
4 2013-01-16 06:00:00
5 2013-01-16 06:00:00
6 2013-01-16 06:00:00

Tambien podemos concatenar filtros con:

"&" y
"|" or
"!" not

In [ ]:
flight_11_12 = filter(flights, month == 11 | month == 12)
head(flight_11_12)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 11    1     5      2359             6       352       345
2 2013 11    1    35      2250           105       123      2356
3 2013 11    1   455       500            -5       641       651
4 2013 11    1   539       545            -6       856       827
5 2013 11    1   542       545            -3       831       855
6 2013 11    1   549       600           -11       912       923
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1   7       B6       745   N568JB  JFK    PSE  205      1617     23   59
2  87       B6      1816   N353JB  JFK    SYR   36       209     22   50
3 -10       US      1895   N192UW  EWR    CLT   88       529      5    0
4  29       UA      1714   N38727  LGA    IAH  229      1416      5   45
5 -24       AA      2243   N5CLAA  JFK    MIA  147      1089      5   45
6 -11       UA       303   N595UA  JFK    SFO  359      2586      6    0
  time_hour
1 2013-11-01 23:00:00
2 2013-11-01 22:00:00
3 2013-11-01 05:00:00
4 2013-11-01 05:00:00
5 2013-11-01 05:00:00
6 2013-11-01 06:00:00

### Arrange

Funciona para ordenar las filas

In [ ]:
arrange(flights, year, month, day)

       year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1      2013 1     1   517      515             2         830      819
2      2013 1     1   533      529             4         850      830
3      2013 1     1   542      540             2         923      850
4      2013 1     1   544      545            -1        1004     1022
5      2013 1     1   554      600            -6         812      837
6      2013 1     1   554      558            -4         740      728
7      2013 1     1   555      600            -5         913      854
8      2013 1     1   557      600            -3         709      723
9      2013 1     1   557      600            -3         838      846
10     2013 1     1   558      600            -2         753      745
11     2013 1     1   558      600            -2         849      851
12     2013 1     1   558      600            -2         853      856
13     2013 1     1   558      600            -2         924      917
14     2013 1     1   558      600            -2         923      937
15     2013 1     1   559      600            -1         941      910
16     2013 1     1   559      559             0         702      706
17     2013 1     1   559      600            -1         854      902
18     2013 1     1   600      600             0         851      858
19     2013 1     1   600      600             0         837      825
20     2013 1     1   601      600             1         844      850
21     2013 1     1   602      610            -8         812      820
22     2013 1     1   602      605            -3         821      805
23     2013 1     1   606      610            -4         858      910
24     2013 1     1   606      610            -4         837      845
25     2013 1     1   607      607             0         858      915
26     2013 1     1   608      600             8         807      735
27     2013 1     1   611      600            11         945      931
28     2013 1     1   613      610             3         925      921
29     2013 1     1   615      615             0        1039     1100
30     2013 1     1   615      615             0         833      842
⋮      ⋮    ⋮     ⋮   ⋮        ⋮              ⋮         ⋮        ⋮
336747 2013 12    31  2155     2039            76        253     2355
336748 2013 12    31  2155     2150             5        110       51
336749 2013 12    31  2159     2155             4         55       46
336750 2013 12    31  2206     2110            56         44     2339
336751 2013 12    31  2211     2159            12        100       45
336752 2013 12    31  2218     2219            -1        315      304
336753 2013 12    31  2235     2245           -10       2351     2355
336754 2013 12    31  2245     2250            -5       2359     2356
336755 2013 12    31  2310     2255            15          7     2356
336756 2013 12    31  2321     2250            31         46        8
336757 2013 12    31  2328     2330            -2        412      409
336758 2013 12    31  2332     2245            47         58        3
336759 2013 12    31  2355     2359            -4        430      440
336760 2013 12    31  2356     2359            -3        436      445
336761 2013 12    31    NA     1520            NA         NA     1705
336762 2013 12    31    NA     2025            NA         NA     2205
336763 2013 12    31    NA     1932            NA         NA     2305
336764 2013 12    31    NA     1505            NA         NA     1725
336765 2013 12    31    NA     1000            NA         NA     1252
336766 2013 12    31    NA      840            NA         NA     1205
336767 2013 12    31    NA      754            NA         NA     1118
336768 2013 12    31    NA     2000            NA         NA     2146
336769 2013 12    31    NA     1500            NA         NA     1817
336770 2013 12    31    NA     1430            NA         NA     1750
336771 2013 12    31    NA      855            NA         NA     1142
336772 2013 12    31    NA      705            NA         NA      931
336773 2013 12    31    NA      825            NA         NA     1029
336774 2013 12    31    NA     1615            NA         NA     1800
336775 2013 12    31    NA      600            NA         NA      735
336776 2013 12    31    NA      830            NA         NA     1154
       arr_delay carrier flight tailnum origin dest air_time distance hour
1       11       UA      1545   N14228  EWR    IAH  227      1400     5
2       20       UA      1714   N24211  LGA    IAH  227      1416     5
3       33       AA      1141   N619AA  JFK    MIA  160      1089     5
4      -18       B6       725   N804JB  JFK    BQN  183      1576     5
5      -25       DL       461   N668DN  LGA    ATL  116       762     6
6       12       UA      1696   N39463  EWR    ORD  150       719     5
7       19       B6       507   N516JB  EWR    FLL  158      1065     6
8      -14       EV      5708   N829AS  LGA    IAD   53       229     6
9       -8       B6        79   N593JB  JFK    MCO  140       944     6
10       8       AA       301   N3ALAA  LGA    ORD  138       733     6
11      -2       B6        49   N793JB  JFK    PBI  149      1028     6
12      -3       B6        71   N657JB  JFK    TPA  158      1005     6
13       7       UA       194   N29129  JFK    LAX  345      2475     6
14     -14       UA      1124   N53441  EWR    SFO  361      2565     6
15      31       AA       707   N3DUAA  LGA    DFW  257      1389     6
16      -4       B6      1806   N708JB  JFK    BOS   44       187     5
17      -8       UA      1187   N76515  EWR    LAS  337      2227     6
18      -7       B6       371   N595JB  LGA    FLL  152      1076     6
19      12       MQ      4650   N542MQ  LGA    ATL  134       762     6
20      -6       B6       343   N644JB  EWR    PBI  147      1023     6
21      -8       DL      1919   N971DL  LGA    MSP  170      1020     6
22      16       MQ      4401   N730MQ  LGA    DTW  105       502     6
23     -12       AA      1895   N633AA  EWR    MIA  152      1085     6
24      -8       DL      1743   N3739P  JFK    ATL  128       760     6
25     -17       UA      1077   N53442  EWR    MIA  157      1085     6
26      32       MQ      3768   N9EAMQ  EWR    ORD  139       719     6
27      14       UA       303   N532UA  JFK    SFO  366      2586     6
28       4       B6       135   N635JB  JFK    RSW  175      1074     6
29     -21       B6       709   N794JB  JFK    SJU  182      1598     6
30      -9       DL       575   N326NB  EWR    ATL  120       746     6
⋮      ⋮         ⋮       ⋮      ⋮       ⋮      ⋮    ⋮        ⋮        ⋮
336747  NA       B6      1205   N627JB  JFK    PDX   NA      2454     20
336748  19       B6      1901   N729JB  JFK    FLL  164      1069     21
336749   9       B6      2053   N593JB  JFK    PBI  155      1028     21
336750  65       B6       775   N184JB  JFK    MSY  195      1182     21
336751  15       B6      1183   N715JB  JFK    MCO  148       944     21
336752  11       B6      1203   N625JB  JFK    SJU  202      1598     22
336753  -4       B6       234   N355JB  JFK    BTV   49       266     22
336754   3       B6      1816   N318JB  JFK    SYR   51       209     22
336755  11       B6       718   N279JB  JFK    BOS   40       187     22
336756  38       B6      2002   N179JB  JFK    BUF   66       301     22
336757   3       B6      1389   N651JB  EWR    SJU  198      1608     23
336758  55       B6       486   N334JB  JFK    ROC   60       264     22
336759 -10       B6      1503   N509JB  JFK    SJU  195      1598     23
336760  -9       B6       745   N665JB  JFK    PSE  200      1617     23
336761  NA       AA       341   N568AA  LGA    ORD   NA       733     15
336762  NA       AA       371   N482AA  LGA    ORD   NA       733     20
336763  NA       B6       161   N516JB  JFK    SMF   NA      2521     19
336764  NA       EV      4181   N24103  EWR    MCI   NA      1092     15
336765  NA       UA      1124   NA      EWR    EGE   NA      1725     10
336766  NA       UA      1151   NA      EWR    SEA   NA      2402      8
336767  NA       UA      1455   NA      EWR    LAX   NA      2454      7
336768  NA       UA      1482   NA      EWR    ORD   NA       719     20
336769  NA       UA      1483   NA      EWR    AUS   NA      1504     15
336770  NA       UA      1493   NA      EWR    LAX   NA      2454     14
336771  NA       UA      1506   NA      EWR    JAC   NA      1874      8
336772  NA       UA      1729   NA      EWR    DEN   NA      1605      7
336773  NA       US      1831   NA      JFK    CLT   NA       541      8
336774  NA       MQ      3301   N844MQ  LGA    RDU   NA       431     16
336775  NA       UA       219   NA      EWR    ORD   NA       719      6
336776  NA       UA       443   NA      JFK    LAX   NA      2475      8
       minute time_hour
1      15     2013-01-01 05:00:00
2      29     2013-01-01 05:00:00
3      40     2013-01-01 05:00:00
4      45     2013-01-01 05:00:00
5       0     2013-01-01 06:00:00
6      58     2013-01-01 05:00:00
7       0     2013-01-01 06:00:00
8       0     2013-01-01 06:00:00
9       0     2013-01-01 06:00:00
10      0     2013-01-01 06:00:00
11      0     2013-01-01 06:00:00
12      0     2013-01-01 06:00:00
13      0     2013-01-01 06:00:00
14      0     2013-01-01 06:00:00
15      0     2013-01-01 06:00:00
16     59     2013-01-01 05:00:00
17      0     2013-01-01 06:00:00
18      0     2013-01-01 06:00:00
19      0     2013-01-01 06:00:00
20      0     2013-01-01 06:00:00
21     10     2013-01-01 06:00:00
22      5     2013-01-01 06:00:00
23     10     2013-01-01 06:00:00
24     10     2013-01-01 06:00:00
25      7     2013-01-01 06:00:00
26      0     2013-01-01 06:00:00
27      0     2013-01-01 06:00:00
28     10     2013-01-01 06:00:00
29     15     2013-01-01 06:00:00
30     15     2013-01-01 06:00:00
⋮      ⋮      ⋮
336747 39     2013-12-31 20:00:00
336748 50     2013-12-31 21:00:00
336749 55     2013-12-31 21:00:00
336750 10     2013-12-31 21:00:00
336751 59     2013-12-31 21:00:00
336752 19     2013-12-31 22:00:00
336753 45     2013-12-31 22:00:00
336754 50     2013-12-31 22:00:00
336755 55     2013-12-31 22:00:00
336756 50     2013-12-31 22:00:00
336757 30     2013-12-31 23:00:00
336758 45     2013-12-31 22:00:00
336759 59     2013-12-31 23:00:00
336760 59     2013-12-31 23:00:00
336761 20     2013-12-31 15:00:00
336762 25     2013-12-31 20:00:00
336763 32     2013-12-31 19:00:00
336764  5     2013-12-31 15:00:00
336765  0     2013-12-31 10:00:00
336766 40     2013-12-31 08:00:00
336767 54     2013-12-31 07:00:00
336768  0     2013-12-31 20:00:00
336769  0     2013-12-31 15:00:00
336770 30     2013-12-31 14:00:00
336771 55     2013-12-31 08:00:00
336772  5     2013-12-31 07:00:00
336773 25     2013-12-31 08:00:00
336774 15     2013-12-31 16:00:00
336775  0     2013-12-31 06:00:00
336776 30     2013-12-31 08:00:00

In [ ]:
arrange(flights, desc(arr_delay))

       year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1      2013  1     9   641      900           1301      1242     1530
2      2013  6    15  1432     1935           1137      1607     2120
3      2013  1    10  1121     1635           1126      1239     1810
4      2013  9    20  1139     1845           1014      1457     2210
5      2013  7    22   845     1600           1005      1044     1815
6      2013  4    10  1100     1900            960      1342     2211
7      2013  3    17  2321      810            911       135     1020
8      2013  7    22  2257      759            898       121     1026
9      2013 12     5   756     1700            896      1058     2020
10     2013  5     3  1133     2055            878      1250     2215
11     2013 12    14   830     1845            825      1210     2154
12     2013  5    19   713     1700            853      1007     1955
13     2013  1     1   848     1835            853      1001     1950
14     2013  6    27   959     1900            899      1236     2226
15     2013 12    19   734     1725            849      1046     2039
16     2013 12    17   705     1700            845      1026     2020
17     2013  2    10  2243      830            853       100     1106
18     2013  4    19   912     1940            812      1228     2247
19     2013  6    27   753     1830            803       937     2015
20     2013 11     3   603     1645            798       829     1913
21     2013  3    18  1020     2100            800      1336       32
22     2013  4    19   606     1725            761       923     2020
23     2013  4    19   617     1700            797       858     1955
24     2013  6    27   732     1825            787       932     2032
25     2013  2    24  1921      615            786      2135      842
26     2013  6    27   615     1705            790       853     2004
27     2013  2    19  2324     1016            788       114     1227
28     2013  2    16   757     1930            747      1013     2149
29     2013  4    19   758     1925            753      1049     2225
30     2013 10    14  2042      900            702      2255     1127
⋮      ⋮    ⋮     ⋮   ⋮        ⋮              ⋮         ⋮        ⋮
336747 2013 9     25    NA     1655            NA         NA     1840
336748 2013 9     25    NA     1559            NA         NA     1719
336749 2013 9     26  1331     1329             2       1923     1813
336750 2013 9     26    NA      915            NA         NA     1141
336751 2013 9     26    NA     1400            NA         NA     1512
336752 2013 9     26    NA     1240            NA         NA     1525
336753 2013 9     27  1332     1329             3       1629     1509
336754 2013 9     27  2253     1945           188         NA     2146
336755 2013 9     27    NA      600            NA         NA      730
336756 2013 9     27    NA     2100            NA         NA     2211
336757 2013 9     27    NA     1329            NA         NA     1444
336758 2013 9     27    NA     1600            NA         NA     1739
336759 2013 9     28   555      600            -5        953      753
336760 2013 9     28   847      839             8       1130      959
336761 2013 9     28  1010     1020           -10       1344     1222
336762 2013 9     28  1214     1225           -11       1801     1510
336763 2013 9     28    NA     1803            NA         NA     1927
336764 2013 9     28    NA      910            NA         NA     1220
336765 2013 9     28    NA     1635            NA         NA     1827
336766 2013 9     29  1734     1711            23       2159     2020
336767 2013 9     29    NA     2054            NA         NA     2302
336768 2013 9     29    NA     1830            NA         NA     2010
336769 2013 9     29    NA      700            NA         NA      833
336770 2013 9     30   559      600            -1         NA      715
336771 2013 9     30    NA     1842            NA         NA     2019
336772 2013 9     30    NA     1455            NA         NA     1634
336773 2013 9     30    NA     2200            NA         NA     2312
336774 2013 9     30    NA     1210            NA         NA     1330
336775 2013 9     30    NA     1159            NA         NA     1344
336776 2013 9     30    NA      840            NA         NA     1020
       arr_delay carrier flight tailnum origin dest air_time distance hour
1      1272      HA        51   N384HA  JFK    HNL  640      4983      9
2      1127      MQ      3535   N504MQ  JFK    CMH   74       483     19
3      1109      MQ      3695   N517MQ  EWR    ORD  111       719     16
4      1007      AA       177   N338AA  JFK    SFO  354      2586     18
5       989      MQ      3075   N665MQ  JFK    CVG   96       589     16
6       931      DL      2391   N959DL  JFK    TPA  139      1005     19
7       915      DL      2119   N927DA  LGA    MSP  167      1020      8
8       895      DL      2047   N6716C  LGA    ATL  109       762      7
9       878      AA       172   N5DMAA  EWR    MIA  149      1085     17
10      875      MQ      3744   N523MQ  EWR    ORD  112       719     20
11      856      DL      2391   N939DL  JFK    TPA  173      1005     18
12      852      AA       257   N3HEAA  JFK    LAS  323      2248     17
13      851      MQ      3944   N942MQ  JFK    BWI   41       184     18
14      850      DL      2007   N3762Y  JFK    PDX  313      2454     19
15      847      DL      1223   N375NC  EWR    SLC  290      1969     17
16      846      AA       172   N5EMAA  EWR    MIA  145      1085     17
17      834      F9       835   N203FR  LGA    DEN  233      1620      8
18      821      DL      1435   N900DE  LGA    TPA  174      1010     19
19      802      AA      2019   N571AA  LGA    STL  134       888     18
20      796      DL      2042   N990AT  EWR    ATL  109       746     16
21      784      DL      2363   N624AG  JFK    LAX  335      2475     21
22      783      AA      1901   N3DGAA  JFK    IAH  222      1417     17
23      783      AA       257   N3GJAA  JFK    LAS  313      2248     17
24      780      DL      1715   N335NB  LGA    MSY  160      1183     18
25      773      DL       575   N348NW  EWR    ATL  111       746      6
26      769      DL       503   N372DA  JFK    SAN  312      2446     17
27      767      DL      2319   N324US  LGA    MSP  136      1020     10
28      744      9E      3798   N8940E  JFK    CLT   85       541     19
29      744      DL      1485   N927DA  LGA    MCO  149       950     19
30      688      DL       502   N943DL  EWR    ATL   98       746      9
⋮      ⋮         ⋮       ⋮      ⋮       ⋮      ⋮    ⋮        ⋮        ⋮
336747 NA        MQ      3411   N735MQ  LGA    RDU  NA        431     16
336748 NA        MQ      3748   N530MQ  EWR    ORD  NA        719     15
336749 NA        UA        15   N67052  EWR    HNL  NA       4963     13
336750 NA        EV      5109   N748EV  LGA    CHS  NA        641      9
336751 NA        US      2183   NA      LGA    DCA  NA        214     14
336752 NA        WN      4720   N691WN  EWR    HOU  NA       1411     12
336753 NA        AA       331   N565AA  LGA    ORD  NA        733     13
336754 NA        EV      5306   N605QX  LGA    GSO  NA        461     19
336755 NA        AA       301   N584AA  LGA    ORD  NA        733      6
336756 NA        US      2164   NA      LGA    BOS  NA        184     21
336757 NA        MQ      3760   N505MQ  EWR    ORD  NA        719     13
336758 NA        UA       269   NA      LGA    ORD  NA        733     16
336759 NA        EV      5068   N133EV  EWR    DTW  NA        488      6
336760 NA        EV      4510   N14542  EWR    MKE  NA        725      8
336761 NA        EV      4412   N12175  EWR    DSM  NA       1017     10
336762 NA        AA       300   N488AA  EWR    DFW  NA       1372     12
336763 NA        EV      5563   N724EV  LGA    BTV  NA        258     18
336764 NA        AA         1   N320AA  JFK    LAX  NA       2475      9
336765 NA        US       581   NA      EWR    CLT  NA        529     16
336766 NA        UA       327   N463UA  EWR    PDX  NA       2434     17
336767 NA        EV      4536   N13988  EWR    CVG  NA        569     20
336768 NA        MQ      3134   N508MQ  EWR    ORD  NA        719     18
336769 NA        UA       331   NA      LGA    ORD  NA        733      7
336770 NA        WN       464   N411WN  EWR    MDW  NA        711      6
336771 NA        EV      5274   N740EV  LGA    BNA  NA        764     18
336772 NA        9E      3393   NA      JFK    DCA  NA        213     14
336773 NA        9E      3525   NA      LGA    SYR  NA        198     22
336774 NA        MQ      3461   N535MQ  LGA    BNA  NA        764     12
336775 NA        MQ      3572   N511MQ  LGA    CLE  NA        419     11
336776 NA        MQ      3531   N839MQ  LGA    RDU  NA        431      8
       minute time_hour
1       0     2013-01-09 09:00:00
2      35     2013-06-15 19:00:00
3      35     2013-01-10 16:00:00
4      45     2013-09-20 18:00:00
5       0     2013-07-22 16:00:00
6       0     2013-04-10 19:00:00
7      10     2013-03-17 08:00:00
8      59     2013-07-22 07:00:00
9       0     2013-12-05 17:00:00
10     55     2013-05-03 20:00:00
11     45     2013-12-14 18:00:00
12      0     2013-05-19 17:00:00
13     35     2013-01-01 18:00:00
14      0     2013-06-27 19:00:00
15     25     2013-12-19 17:00:00
16      0     2013-12-17 17:00:00
17     30     2013-02-10 08:00:00
18     40     2013-04-19 19:00:00
19     30     2013-06-27 18:00:00
20     45     2013-11-03 16:00:00
21      0     2013-03-18 21:00:00
22     25     2013-04-19 17:00:00
23      0     2013-04-19 17:00:00
24     25     2013-06-27 18:00:00
25     15     2013-02-24 06:00:00
26      5     2013-06-27 17:00:00
27     16     2013-02-19 10:00:00
28     30     2013-02-16 19:00:00
29     25     2013-04-19 19:00:00
30      0     2013-10-14 09:00:00
⋮      ⋮      ⋮
336747 55     2013-09-25 16:00:00
336748 59     2013-09-25 15:00:00
336749 29     2013-09-26 13:00:00
336750 15     2013-09-26 09:00:00
336751  0     2013-09-26 14:00:00
336752 40     2013-09-26 12:00:00
336753 29     2013-09-27 13:00:00
336754 45     2013-09-27 19:00:00
336755  0     2013-09-27 06:00:00
336756  0     2013-09-27 21:00:00
336757 29     2013-09-27 13:00:00
336758  0     2013-09-27 16:00:00
336759  0     2013-09-28 06:00:00
336760 39     2013-09-28 08:00:00
336761 20     2013-09-28 10:00:00
336762 25     2013-09-28 12:00:00
336763  3     2013-09-28 18:00:00
336764 10     2013-09-28 09:00:00
336765 35     2013-09-28 16:00:00
336766 11     2013-09-29 17:00:00
336767 54     2013-09-29 20:00:00
336768 30     2013-09-29 18:00:00
336769  0     2013-09-29 07:00:00
336770  0     2013-09-30 06:00:00
336771 42     2013-09-30 18:00:00
336772 55     2013-09-30 14:00:00
336773  0     2013-09-30 22:00:00
336774 10     2013-09-30 12:00:00
336775 59     2013-09-30 11:00:00
336776 40     2013-09-30 08:00:00

### Select

Nos permite elegir un subconjunto de variables

In [ ]:
flights_select <- select(flights, year,month,day,arr_delay)
head(flights_select)

  year month day arr_delay
1 2013 1     1    11
2 2013 1     1    20
3 2013 1     1    33
4 2013 1     1   -18
5 2013 1     1   -25
6 2013 1     1    12

In [ ]:
flights_select <- select(flights, c(year,month,day,arr_delay))
head(flights_select)

  year month day arr_delay
1 2013 1     1    11
2 2013 1     1    20
3 2013 1     1    33
4 2013 1     1   -18
5 2013 1     1   -25
6 2013 1     1    12

In [ ]:
flights_select <- select(flights, (1:4))
head(flights_select)

  year month day dep_time
1 2013 1     1   517
2 2013 1     1   533
3 2013 1     1   542
4 2013 1     1   544
5 2013 1     1   554
6 2013 1     1   554

### Mutate

Nos permite agregar nuevas variables

In [ ]:
flights_mutate <- select(flights, year:day, ends_with("delay"), distance, air_time)
head(flights_mutate)

  year month day dep_delay arr_delay distance air_time
1 2013 1     1    2         11       1400     227
2 2013 1     1    4         20       1416     227
3 2013 1     1    2         33       1089     160
4 2013 1     1   -1        -18       1576     183
5 2013 1     1   -6        -25        762     116
6 2013 1     1   -4         12        719     150

In [ ]:
flights_mutate <- mutate(flights_mutate, tot_delay = arr_delay + dep_delay, speed = distance / air_time * 60)
head(flights_mutate)

  year month day dep_delay arr_delay distance air_time tot_delay speed
1 2013 1     1    2         11       1400     227       13       370.0441
2 2013 1     1    4         20       1416     227       24       374.2731
3 2013 1     1    2         33       1089     160       35       408.3750
4 2013 1     1   -1        -18       1576     183      -19       516.7213
5 2013 1     1   -6        -25        762     116      -31       394.1379
6 2013 1     1   -4         12        719     150        8       287.6000

### Summarize

Nos permite resumir nuestros datos, se utiliza en conjunto con group_by

In [ ]:
flights_summarize <- group_by(flights, year, month, day)

na.rm nos permite rápidamente sacar los datos nulos

In [ ]:
flights_summarize <- summarize(flights_summarize, delay = mean(dep_delay, na.rm = TRUE))
head(flights_summarize)

`summarise()` has grouped output by 'year', 'month'. You can override using the `.groups` argument.

  year month day delay
1 2013 1     1   11.548926
2 2013 1     2   13.858824
3 2013 1     3   10.987832
4 2013 1     4    8.951595
5 2013 1     5    5.732218
6 2013 1     6    7.148014

In [ ]:
flights_summarize <- group_by(flights, year, month, day) %>% summarize(flights_summarize, delay = mean(dep_delay, na.rm = TRUE))
head(flights_summarize)

`summarise()` has grouped output by 'year', 'month', 'day'. You can override using the `.groups` argument.

  year month day delay
1 2013 1     1   11.54893
2 2013 1     2   11.54893
3 2013 1     3   11.54893
4 2013 1     4   11.54893
5 2013 1     5   11.54893
6 2013 1     6   11.54893

### Pipe

Es un operador que nos permite encadenar una secuencia de cálculos por decir paso 1, luego paso 2, luego paso 3, con Pipe sería paso 1 %>% paso 2 %>% paso 3

## tidyr

### Gather

Esta función nos permite crear tablas con el formato tidy data para poder analizar correctamente la información. Básicamente, transponer de columnas a filas

In [ ]:
vta_pais <- tibble(pais = c("Argentina", "Nicaragua", "España", "Perú"), "2020" = c(150,200,250,300), "2021" = c(500,600,700,800))
vta_pais

  pais      2020 2021
1 Argentina 150  500
2 Nicaragua 200  600
3 España    250  700
4 Perú      300  800

In [ ]:
vta_pais_tidy = vta_pais %>% gather("2020", "2021", key = "año", value = "venta")
vta_pais_tidy

  pais      año  venta
1 Argentina 2020 150
2 Nicaragua 2020 200
3 España    2020 250
4 Perú      2020 300
5 Argentina 2021 500
6 Nicaragua 2021 600
7 España    2021 700
8 Perú      2021 800

### spread

Es lo opuesto a gather

In [ ]:
vta_pais_spread <- spread(vta_pais_tidy, key = "año", value = "venta")
vta_pais_spread

  pais      2020 2021
1 Argentina 150  500
2 España    250  700
3 Nicaragua 200  600
4 Perú      300  800

### Separate

In [ ]:
separate_tb <- tibble(loc = c("Mendoza/Argentina", "Managua/Nicaragua", "Barcelona/Espana", "Cusco/Peru"))
separate_tb

  loc
1 Mendoza/Argentina
2 Managua/Nicaragua
3 Barcelona/Espana
4 Cusco/Peru

In [ ]:
separate_tb <- separate_tb %>% separate(loc, into = c("provincia", "pais"))
separate_tb

  provincia pais
1 Mendoza   Argentina
2 Managua   Nicaragua
3 Barcelona Espana
4 Cusco     Peru

### unite

In [ ]:
unite_tb <- separate_tb %>% unite(loc, provincia, pais, sep = "-")
unite_tb

  loc
1 Mendoza-Argentina
2 Managua-Nicaragua
3 Barcelona-Espana
4 Cusco-Peru

### valores faltantes

In [ ]:
stocks <- tibble(
  year = c(2020,2020,2020,2020,2021,2021,2021,2021),
  qtr = c(1,2,3,4,1,2,3,4),
  valor = c(1.05,0.78,0.99,NA,1.54,1.02,1.15,0.95)
)
stocks

  year qtr valor
1 2020 1   1.05
2 2020 2   0.78
3 2020 3   0.99
4 2020 4     NA
5 2021 1   1.54
6 2021 2   1.02
7 2021 3   1.15
8 2021 4   0.95

In [ ]:
stocks_drop <- stocks %>% drop_na()
stocks_drop

  year qtr valor
1 2020 1   1.05
2 2020 2   0.78
3 2020 3   0.99
4 2021 1   1.54
5 2021 2   1.02
6 2021 3   1.15
7 2021 4   0.95

In [ ]:
stocks_replace <- stocks
stocks_replace$valor[is.na(stocks_replace$valor)] <- round(mean(stocks_replace$valor, na.rm = TRUE),2)
stocks_replace

  year qtr valor
1 2020 1   1.05
2 2020 2   0.78
3 2020 3   0.99
4 2020 4   1.07
5 2021 1   1.54
6 2021 2   1.02
7 2021 3   1.15
8 2021 4   0.95

![UNI](https://posgrado.uni.edu.ni/wp-content/uploads/2017/02/logo_opt-2.png)